.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: end;
}

.loading {
  text-align: center;
  padding-top: 40vh;
}

@media (max-width: 40rem) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}
