.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  width: 900px;
  min-height: 500px;
  background: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  animation: showModal 300ms normal;
  margin: 2rem;
}

.photo {
  border-radius: 0.25rem;
}

.photo img {
  border-radius: 0.25rem 0 0 0.25rem;
}

.info {
  background: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.infoTop {
  padding: 1rem;
}

.infoFirstInformation {
  display: flex;
  justify-content: space-between;
}

.linkProfile {
  color: #000;
}

.infoAnimals {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-left: 0.3rem;
}

.infoAnimals span {
  display: block;
  position: relative;
}

.infoAnimals span::before {
  content: "";
  width: 2px;
  height: 24px;
  background: #000;
  position: absolute;
  left: -10px;
  top: -2px;
}

.visualizacao::before {
  width: 16px;
  height: 10px;
  content: "";
  display: inline-block;
  margin-right: 0.25rem;
  background: url("../../Assets/visualizacao-black.svg");
}

.comments {
  margin-top: 2rem;
  max-height: 17rem;
  overflow: auto;
}

.commentsPOST {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.commentsPOST form {
  flex: 1;
}

.commentBox {
  width: 100%;
  flex: 1 1 auto;
  border-radius: 0.4rem;
  background: #eee;
  border: none;
  border: 2px solid #eee;
  font-family: var(--type-first);
  font-size: 1rem;
  resize: none;
}

.commentBox:hover,
.commentBox:focus {
  border-color: var(--color-secondary);
  background: #fff;
  outline: none;
  transition: 450ms;
}

.btn {
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn img {
  width: 60px;
}

.erro {
  margin-top: 0.5rem;
}

@media (max-width: 1025px) {
  .modalBox {
    width: 500px;
    grid-template-columns: 1fr;
  }
  .photo img {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .comments {
    max-height: 4.5rem;
  }
  .comment {
    min-height: 0;
  }
}

@keyframes showModal {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
