.btn {
  background-color: var(--color-secondary);
  width: 140px;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 0 0 1px #fff;
  border: 3px solid #fff;
  border-radius: 0.4rem;
  color: #764701;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-secondary);
  border: 3px solid rgb(255, 238, 180);
  transition: 250ms;
}

.btn:disabled {
  opacity: 0.5;
  cursor: wait;
}
