.wrapper {
  margin: 1rem 0;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  border: none;
  border: 2px solid #eee;
}

.input:hover,
.input:focus {
  border-color: var(--color-secondary);
  background: #fff;
  outline: none;
  transition: 450ms;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
