.input {
  margin: 1rem 0;
}

label {
  display: block;
  margin: 6px 0;
}

input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  border: none;
  border: 2px solid #eee;
}

input:hover {
  border-color: rgb(255, 196, 0);
  background: #fff;
  outline: none;
  transition: 450ms;
}

input:focus {
  background: #fff;
  outline: none;
  border-color: rgb(255, 196, 0);
}
