.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  position: relative;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.navigation a {
  display: flex;
  padding: 0.4rem;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #eee;
}

.navigation a:hover {
  background: #fff;
  border: 1px solid var(--color-principal);
  box-shadow: 0 0 0 3px #eee;
  cursor: pointer;
}

.navigation a:global(.active) {
  border: 1px solid var(--color-secondary);
  box-shadow: 0 0 0 3px rgb(255, 238, 180);
  background: #fff;
}

.navigation a:global(.active) svg > * {
  fill: var(--color-secondary);
}

.navigationMobile {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 2px 4px 1px #ddd;
  background: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 65px;
  gap: 0.8rem;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.navigationMobile a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4rem;
  color: #000;
}

.navigationMobile a:global:hover svg > * {
  fill: var(--color-secondary);
}

.navigationMobile a:last-child {
  border-bottom: none;
}

.hambBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 4px;
  border: 3px solid #eee;
}

.hambBtn:hover,
.hambBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(255, 238, 180);
  border: 1px solid var(--color-secondary);
  background: #fff;
  transition: 250ms;
}

.hambBtn::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 6px 0 0 currentColor, 0 -6px 0 0 currentColor;
  transition: 0.2s;
}

.hambBtn:hover:after,
.hambBtn:focus:after {
  background: var(--color-secondary);
  box-shadow: 0 6px 0 0 var(--color-secondary),
    0 -6px 0 0 var(--color-secondary);
}

.mobileButtonActive::after {
  width: 4px;
  height: 4px;
  transform: rotate(-90deg);
}

.navMobileActive {
  opacity: 1;
  pointer-events: initial;
}
