.footer {
  background: var(--color-secondary);
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.text {
  color: var(--color-text);
}
