.container {
  min-height: 100vh;
}

.image {
  padding: 2rem 1rem 0 1rem;
  border-radius: 0.5rem;
}

.image img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.social {
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.info {
  background: #fff;
}

.animalInfo {
  background: #fff;
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-left: 0.3rem;
}

.animalInfo span {
  display: block;
  position: relative;
}

.animalInfo span::before {
  content: "";
  width: 2px;
  height: 24px;
  background: #000;
  position: absolute;
  left: -10px;
  top: -2px;
}
