.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
}

.imagem {
  height: 100vh;
  background: url("../../Assets/login.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 640px) {
  .login {
    grid-template-columns: 1fr;
  }
  .imagem {
    display: none;
  }
}
