.container {
  padding: 3rem 1rem 3rem 3rem;
  margin-bottom: 400px;
}

.text {
  min-height: 136.68px;
  color: rgb(0, 206, 0);
}

.error {
  color: red;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
