.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.imagem {
  height: 100vh;
  background: url("../../Assets/login.jpg") no-repeat center center;
  background-size: cover;
}

.form {
  padding: 40px;
}
