.login {
  display: flex;
  align-items: center;
}

.imagem {
  flex: 1;
  height: 100vh;
  background: url("../../Assets/login.jpg") no-repeat center center;
  background-size: cover;
}

.form {
  flex: 1;
  padding: 40px;
}
