* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", Georgia;
  --color-principal: #333;
  --color-secondary: #fb1;
  --color-text: #764701;
  font-family: var(--type-first);
  position: relative;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--color-principal);
}

.container {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-principal);
  font-family: var(--type-second);
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  line-height: 1;
}

.title::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--color-secondary);
  border-radius: 4px;
  position: absolute;
  bottom: 4px;
  left: -6px;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
